<span class="default_preload1"></span>
<span class="default_preload2"></span>
<{foreach item=menu from = $block}>
    <{if $menu.oul}>
        <{if $menu.level == 0}>
        <ul id="default_nav">
        <{elseif $menu.level == 1}>
        <ul class="default_sub">
        <{else}>
        <ul>
        <{/if}>
    <{/if}>




    <{if $menu.oli}>
        <{if $menu.level == 0}>
            <li class="default_top" class="<{$menu.css}>">
        <{else}>
            <li class="<{$menu.css}>">
        <{/if}>
    <{/if}>

<{assign var=myStr value="["|cat:$xoops_langcode|cat:"]"}>
<{if ($xlanguage && (($menu.title|strstr:$myStr) OR ($menu.image|strstr:$myStr)) OR !$xlanguage)}>

    <{if $menu.level == 0}>
        <a href="<{$menu.link}>" class="default_top_link<{if $menu.selected}> default_selected<{/if}>" target="<{$menu.target}>" alt="<{$menu.alt_title}>" title="<{$menu.alt_title}>">
            <span <{if $menu.hassub}>class="default_down"<{/if}>>
                <{if $menu.image}><img src="<{$menu.image}>" /><{/if}>
                <{$menu.title}>
            </span>
        </a>
    <{else}>
          <a href="<{$menu.link}>" <{if $menu.hassub}>class="default_fly"<{/if}> target="<{$menu.target}>" alt="<{$menu.alt_title}>" title="<{$menu.alt_title}>">
          <{if $menu.image}><img src="<{$menu.image}>" /><{/if}>
          <{$menu.title}>
         </a>
    <{/if}>
   <{/if}>



    <{if $menu.close != ''}><{$menu.close}><{/if}>
<{/foreach}>
